.container {
  padding: 7rem 5rem;
  max-width: 80rem;
}
.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.btnBack {
  cursor: pointer;
  border: none;
  background: none;
  color: var(--COLOR-BLUE-400);
  font-size: 1.4rem;
}
.btnBack:hover {
  color: var(--COLOR-BLUE-600);
  text-decoration: underline;
}
