.Task {
  background-color: var(--COLOR-GRAY-200);
  position: relative;
  width: 70rem;
  max-width: 70rem;
  border-radius: var(--BORDER-RADIUS);
  overflow: hidden;
  color: var(--COLOR-GRAY-800);
  font-size: 1.6rem;
  z-index: 99;
}
.Task__header {
  padding: 4.8rem;
  background-color: var(--COLOR-GRAY-300);
  display: flex;
  gap: 2.4rem;
}
.Task__header__info {
  width: 60%;
}
.Task__header h2 {
  font-size: 2.441rem;
  margin-bottom: 2.4rem;
}
.Task__body {
  padding: 4.8rem;
}
.Task h3 {
  font-size: 1.953rem;
}
.Task__body__notes__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Task__btn--delete {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
/* NOTES */
