.task {
  background-color: var(--COLOR-GRAY-500);
  position: relative;
  width: 70rem;
  max-width: 70rem;
  border-radius: var(--BORDER-RADIUS);
  margin: 0.5rem;
  overflow: hidden;
  color: var(--COLOR-GRAY-800);
  font-size: 1.6rem;
}
.header,
.body {
  padding: 3rem;
}
.header {
  background-color: var(--COLOR-GRAY-600);
  display: flex;
  gap: 2.4rem;
  color: var(--COLOR-GRAY-200);
}
.headerLeft {
  flex: 2 1 60%;
}
.headerRight {
  flex: 1 1 auto;
  margin-right: 3rem;
}
.Task__header h2 {
  font-size: 2.441rem;
  margin-bottom: 2.4rem;
}
.Task__body {
  padding: 4.8rem;
}
.Task h3 {
  font-size: 1.953rem;
}
.Task__body__notes__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btnDelete {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
/* NOTES */
