.NewProjectForm,
.NewProjectForm__item {
  display: flex;
  flex-direction: column;
}
.NewProjectForm {
  position: relative;
  border: var(--BORDER);
  border-radius: var(--BORDER-RADIUS);
  width: 30rem;
  padding: 3.5rem;
  justify-content: center;
  align-items: center;
  background-color: var(--COLOR-MAIN-950);
}
.NewProjectForm h2 {
  margin-bottom: 2.5rem;
}
.NewProjectForm__item {
  width: 100%;
  margin-bottom: 1.5rem;
}
.NewProjectForm__item label {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.NewProjectForm__item input,
.NewProjectForm__item textarea {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--BORDER-RADIUS);
  font-size: 1rem;
  font-family: inherit;
  color: var(--COLOR-GRAY-700);
}
.NewProjectForm__item input::placeholder,
.NewProjectForm__item textarea::placeholder {
  color: var(--COLOR-GRAY-800);
  font-size: 1rem;
}
.NewProjectForm__item textarea {
  height: 5rem;
  resize: none;
  overflow-y: scroll;
}
.NewProjectForm__item__wrapper {
  display: grid;
  grid-template-columns: 5fr 1fr;
  column-gap: 0.5rem;
}
.NewProjectForm__note {
  margin-top: 1.5rem;
  font-size: 0.8rem;
}
.NewProjectForm *:focus {
  outline: none;
  box-shadow: 0 1px 3px 6px rgba(234, 178, 8, 0.3);
}
