.asideMenu {
  background-color: var(--COLOR-GRAY-500);
  height: 100vh;
  min-width: 3.5rem;
  position: relative;
  padding: 5rem 0rem;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--COLOR-GRAY-100);
  /* transition: all 0.2s ease-out; */
}
.btnDisplay {
  position: absolute;
  right: 1rem;
  top: 1rem;
  border: none;
  background: none;
  font-size: 1.6rem;
  cursor: pointer;
  color: var(--COLOR-GRAY-300);
}
.btnDisplay:hover {
  color: var(--COLOR-YELLOW-300);
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
}
