.asideMenu {
  background-color: var(--COLOR-GRAY-500);
  height: 100vh;
  min-width: 3.5rem;
  position: relative;
  padding: 5rem 0rem;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--COLOR-GRAY-100);
  transition: all 0.2s ease-in-out;
}
.btnDisplay {
  position: absolute;
  right: 0.75rem;
  top: 1rem;
  border: none;
  background: none;
  font-size: 1.6rem;
  cursor: pointer;
  color: var(--COLOR-GRAY-300);
}
.btnDisplay:hover {
  color: var(--COLOR-YELLOW-300);
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 100%;
}
/* LIST */
.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ITEM */
.item {
  background: none;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  color: var(--COLOR-GRAY-200);
  font-size: 1.6rem;
  width: 100%;
  padding: 0.5rem 0;
  transition: all 0.3s ease;
}
.item:hover {
  color: var(--COLOR-YELLOW-300);
  background-color: var(--COLOR-GRAY-600);
}
