/* MAIN CONTAINER */
.mainContainer {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}
.timestamp {
  margin-top: 0.25rem;
}
.paragraph {
  font-size: 1.6rem;
}
.red {
  color: var(--COLOR-RED-400);
}
.green {
  color: var(--COLOR-GREEN-400);
}

/* INPUT CONTAINER */
.inputContainer {
  width: 100%;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
}
/* INPUT */
.input,
.inputTextArea {
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: var(--BORDER-RADIUS);
  font-size: 1.25rem;
  font-family: inherit;
  color: var(--COLOR-GRAY-700);
  transition: all 0.4s ease-in-out;
}
.inputTextArea {
  height: 10rem;
  resize: none;
  overflow-y: scroll;
}
.input::placeholder,
.inputTextArea::placeholder {
  color: var(--COLOR-GRAY-800);
  font-size: 1.25rem;
}
.input:focus,
.inputTextArea:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--COLOR-BLUE-500);
}
.counter {
  padding-top: 0.25rem;
  font-size: 1.25rem;
  margin-left: auto;
}
/* CONTROLS */
.controls {
  display: flex;
  gap: 0.2rem;
}
/* LISTS */
.list {
  list-style: none;
}
.updateList {
  font-weight: bold;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  color: var(--COLOR-GREEN-400);
}
.newItemInput {
  display: flex;
  flex-direction: column;
}
.newItemBox {
  display: flex;
  align-items: flex-end;
}
.updateListBox {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  background-color: var(--COLOR-GRAY-500);
  border-radius: var(--BORDER-RADIUS);
}
.value {
  font-size: 1.6rem;
}
.controls {
  display: flex;
  align-items: center;
}
