.task {
  border-radius: var(--BORDER-RADIUS);
  overflow: hidden;
  background-color: var(--COLOR-GRAY-300);
  color: var(--COLOR-GRAY-700);
}
.taskHeader,
.taskBody {
  padding: 1.25rem 2.5rem;
}
.taskHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.taskBody {
  padding: 2rem;
}
.taskHeader h3 {
  font-size: 1.6rem;
}
.taskControls {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.taskDescription {
  font-size: 1.25rem;
}
:global(.taskBtn) {
  border: none;
  background: none;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  color: var(--COLOR-GRAY-700);
  transition: all 0.3s ease;
}
:global(.taskBtn:hover) {
  color: var(--COLOR-GRAY-200);
}
.expandBtn {
  border: none;
  background: none;
  cursor: pointer;
  color: var(--COLOR-GRAY-700);
  position: relative;
  left: 0.25rem;
  transition: all 0.5s ease;
}
.expandBtn:hover {
  color: var(--COLOR-GRAY-500);
}
.TaskCard__btn--add {
  height: 5rem;
  width: 5rem;
  background-color: var(--COLOR-GRAY-200);
  border: 3px solid var(--COLOR-GRAY-500);
}
