.TaskView {
  background-color: var(--COLOR-GRAY-200);
  position: relative;
  width: 70rem;
  max-width: 70rem;
  border-radius: var(--BORDER-RADIUS);
  overflow: hidden;
  color: var(--COLOR-GRAY-800);
  font-size: 1.6rem;
  z-index: 99;
}
.TaskView__header {
  padding: 4.8rem;
  background-color: var(--COLOR-GRAY-300);
  display: flex;
  gap: 2.4rem;
}
.TaskView__header__info {
  width: 60%;
}
.TaskView__header h2 {
  font-size: 2.441rem;
  margin-bottom: 2.4rem;
}
.TaskView__header p {
  margin-bottom: 0.8rem;
}
.TaskView__body {
  padding: 4.8rem;
}
.TaskView h3 {
  font-size: 1.953rem;
}
.TaskView__body p {
  font-size: 1.563rem;
  list-style: 1.6;
  margin-bottom: 2.4rem;
}
.TaskView__body__notes__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* NOTES */
