.notification {
  padding: 1rem 2rem 2.5rem 2rem;
  background-color: var(--COLOR-GRAY-600);
  border-radius: var(--BORDER-RADIUS);
  color: var(--COLOR-GRAY-200);
  font-size: 1.25rem;
  line-height: 1.8rem;
  display: flex;
  gap: 0.5rem;
  position: relative;
}
.notificationWrapper {
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}
.notificationLink {
  color: var(--COLOR-BLUE-400);
  text-decoration: none;
}

.notificationLink:hover {
  color: var(--COLOR-BLUE-600);
  text-decoration: underline;
}
.notificationTimestamp {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: var(--COLOR-GRAY-300);
  font-size: 1rem;
}
.notificationBtnDelete {
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  color: var(--COLOR-RED-400);
  background: none;
  border: none;
  cursor: pointer;
}
.notificationBtnDelete:hover {
  color: var(--COLOR-GRAY-200);
}
