.projectCard {
  width: 32rem;
  border-radius: var(--BORDER-RADIUS);
  overflow: hidden;
  cursor: pointer;
}
.projectCard:hover {
  box-shadow: var(--BOX-SHADOW);
}
.header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--COLOR-BLUE-600);
  border-bottom: 1px solid var(--COLOR-GRAY-400);
}
.heading {
  font-size: 1.953rem;
}
.body {
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--COLOR-GRAY-600);
}
.tasks,
.tasksNumber {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
.tasksNumber {
  font-weight: 600;
}
.description {
  font-size: 1.25rem;
}
.btnRequest {
  cursor: pointer;
  background: none;
  border: 1px solid var(--COLOR-GREEN-400);
  background-color: var(--COLOR-GREEN-400);
  border-radius: var(--BORDER-RADIUS);
  padding: 0.25rem 1rem;
  color: var(--COLOR-GRAY-700);
  font-weight: bold;
}
.btnRequest:hover {
  background-color: var(--COLOR-GRAY-600);
  color: var(--COLOR-GREEN-400);
}
