.dashboard {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  column-gap: 2.4rem;
  row-gap: 0.1rem;
  overflow-y: scroll;
  padding: 1rem;
}
/* PROJECT REQUESTS*/
.requests {
  padding-top: 2rem;
  grid-column: 1 / 4;
  grid-row: 3 / 6;
  width: 100%;
}
