.Dashboard {
  height: 100%;
  width: 100%;
  border-top: var(--BORDER);

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  column-gap: 2.4rem;
  row-gap: 0.1rem;
  overflow-y: scroll;
}
.Dashboard__header {
  grid-column: 1 / 7;
  grid-row: 1 / 3;
}
.Dashboard__header__title {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  margin-bottom: 1.6rem;
}
.Dashboard__header h1 {
  font-size: 3rem;
}
.Dashboard__header__tags {
  margin-bottom: 2.4rem;
  display: flex;
  gap: 0.8rem;
}
.Dashboard__header__description {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 2.4rem;
}
.Dashboard__header .link:link {
  text-transform: uppercase;
}
.Dashboard__tasks {
  grid-row: 4 / -1;
  grid-column: 1 / 7;

  display: grid;
  grid-template-rows: 1fr 1fr 10fr;
  row-gap: 0;
}
.Dashboard__tasks__header {
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Dashboard__header__description {
  height: 15rem;
  overflow-y: scroll;
}
.Dashboard__tasks__tabs {
  grid-row: 2 / 3;
  display: flex;
  justify-content: flex-start;
  background-color: var(--COLOR-GRAY-500);
}
.Dashboard__tasks__tabs button {
  display: block;
  padding: 0.8rem;
  border: none;
  background: none;
  color: white;
  font-size: 1.6rem;
  flex: 1 1 auto;
  cursor: pointer;
}
.Dashboard__tasks__tabs button:hover {
  background-color: var(--COLOR-BLUE-500);
}
.Dashboard__tasks__tabs button.active {
  background-color: var(--COLOR-GRAY-700);
}
.Dashboard__tasks__display {
  overflow-y: scroll;
  background-color: var(--COLOR-GRAY-700);
}
.Dashboard__tasks__display {
  grid-row: 3 / -1;
  padding: 2.4rem;
  gap: 2.4rem;
  overflow-y: scroll;
}
.Dashboard__btn-kanban {
  grid-row: 10 / 11;
  grid-column: 9 / 11;
  align-self: center;
}
.btn.Dashboard__btn-kanban {
  background-color: var(--COLOR-YELLOW-500);
}
