.update {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.update p {
  font-size: 1.6rem;
}
.red {
  color: var(--COLOR-RED-400);
}
.green {
  color: var(--COLOR-GREEN-400);
}
