.calls {
  grid-column: 1 / 4;
  grid-row: 6 / -1;
}
/* LIST */
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 1rem;
  overflow-y: scroll;
}
/* ITEM */
.item {
  padding: 1rem;
  border: 1px solid var(--COLOR-GRAY-500);
  background-color: var(--COLOR-GRAY-600);
  border-radius: var(--BORDER-RADIUS);
  display: flex;
  align-items: center;
  gap: 1rem;
}
.infoWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.item h2 {
  font-size: 1.2rem;
}
.itemInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.itemControls {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.itemBtn {
  cursor: pointer;
  border: none;
  background: none;
}
.green {
  color: var(--COLOR-GREEN-400);
}
.red {
  color: var(--COLOR-RED-400);
}
.green:hover,
.red:hover {
  color: var(--COLOR-GRAY-200);
}
.timestamp {
  opacity: 0.65;
}
@media only screen and (max-width: 850px) {
  .calls {
    grid-row: 1 / 7;
    grid-column: 3 / 8;
  }
}
@media only screen and (max-width: 800px) {
  .calls {
    max-width: 300px;
  }
}
