.PriorityLegend {
  text-align: center;
}
.PriorityLegend__heading {
  font-size: 1.563rem;
}
.PriorityLegend__wrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.25rem;
}
.PriorityLegend__mark {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
}
