.KanbanBoard {
  display: grid;
  grid-template-rows: 1fr;
  column-gap: 0.8rem;
  /* grid template columns are set dynamically in tsx file */
  width: 100vw;
  min-height: 100vh;
  padding: 3.6rem;
}
