.menuList {
  grid-column: 1 / 4;
  grid-row: 2 / 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1rem 0;
  width: 20rem;
}
.menuBtn,
.kanbanBtn {
  font-size: 1.6rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 2rem 0.5rem 0;
  color: var(--COLOR-GRAY-200);
  width: 100%;
  text-align: left;
}
.kanbanBtn {
  color: var(--COLOR-YELLOW-300);
  font-weight: bold;
}
.menuBtn:hover {
  font-weight: bold;
  background-color: var(--COLOR-GRAY-500);
  color: var(--COLOR-GRAY-100);
  padding-left: 2rem;
  transform: translateX(-2rem);
}
.kanbanBtn:hover {
  background-color: var(--COLOR-GRAY-500);
  color: var(--COLOR-YELLOW-300);
  padding-left: 2rem;
  transform: translateX(-2rem);
}
.menuBtn:disabled {
  opacity: 0.5;
}
.menuBtn:hover:disabled {
  font-weight: normal;
  background-color: var(--COLOR-GRAY-800);
  cursor: auto;
}
@media only screen and (max-width: 850px) {
  .menuList {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }
}
