.menuList {
  grid-column: 1 / 4;
  grid-row: 9 / -1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1rem 0;

  width: 20rem;
  height: 22rem;
}
.menuBtn,
.kanbanBtn {
  font-size: 1.6rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 2rem;
  color: var(--COLOR-GRAY-200);
}
.kanbanBtn {
  color: var(--COLOR-YELLOW-300);
  font-weight: bold;
}
.menuBtn:hover {
  font-weight: bold;
  background-color: var(--COLOR-GRAY-500);
  color: var(--COLOR-GRAY-100);
}
.kanbanBtn:hover {
  background-color: var(--COLOR-GRAY-500);
  color: var(--COLOR-YELLOW-300);
}
