.teamMembersList {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  overflow-y: scroll;
  list-style: none;
  flex: 1 1 auto;
}
.teamMembersListItem {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.563rem;
  color: var(--COLOR-GRAY-200);
}
.teamMembersListItemUsername {
  font-weight: 600;
}
.lastTimeActive {
  font-size: 1.2rem;
}
