.teamMembers {
  grid-row: 10 / -1;
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column;
}
.teamMembers h3 {
  font-size: 1.563rem;
}
.teamMembersCount {
  font-size: 1.4rem;
}
.teamMembersList {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  overflow-y: scroll;
  list-style: none;
  flex: 1 1 auto;
}
.teamMembersListItem {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.25rem;
  color: var(--COLOR-GRAY-200);
}
.teamMembersListItemUsername {
  font-weight: 600;
}
.lastTimeActive {
  font-size: 1rem;
}
