.teamMembers {
  grid-row: 5 / 9;
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column;
}
.teamMembers h3 {
  font-size: 1.953rem;
}
.teamMembersCount {
  font-size: 1.6rem;
}
.membersCount {
  font-size: 1.2rem;
}
