.UserMenu {
  grid-row: 1 / 2;
  grid-column: 2 / -1;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  align-items: center;
  padding: 0 2rem;
  background-color: var(--COLOR-GRAY-500);
}
