.btnNotification {
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--COLOR-GRAY-200);
  font-size: 1.6rem;
}
.btnNotification:hover {
  color: var(--COLOR-YELLOW-300);
  background-color: var(--COLOR-GRAY-600);
}
