.controls {
  display: flex;
}
.btn {
  border: none;
  background: none;
  color: var(--COLOR-GRAY-300);
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  transition: all 0.3 ease;
}
.btn:hover {
  color: var(--COLOR-BLUE-300);
}
