.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--COLOR-GRAY-500);
  border-radius: var(--BORDER-RADIUS);
}
.value {
  font-size: 1.6rem;
}
.controls {
  display: flex;
  align-items: center;
}
.btn {
  width: 2rem;
  height: 2rem;
  background: none;
  border: none;
  color: var(--COLOR-GRAY-700);
}
.btn:hover {
  color: var(--COLOR-GRAY-200);
}
