.controls {
  display: flex;
}
.controls button {
  border: none;
  background: none;
}
.btnClose {
  color: var(--COLOR-RED-400);
}
.btnClose:hover {
  color: var(--COLOR-RED-500);
}
.btnSubmit {
  color: var(--COLOR-GREEN-400);
}
.btnSubmit:hover {
  color: var(--COLOR-GREEN-500);
}
.controls button {
  color: va;
}
