.tasks {
  grid-row: 2 / -1;
  grid-column: 4 / 9;
  display: flex;
  flex-direction: column;
}
/* TASK HEADER */
.tasksHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}
.tasksHeader h2 {
  font-size: 1.563rem;
}
/* TABS MENU */
.tabsMenu {
  display: flex;
  justify-content: flex-start;
  background-color: var(--COLOR-GRAY-600);
  width: 100%;
  flex-wrap: wrap;
}
.tabsMenuBtn {
  display: block;
  padding: 0.8rem;
  border: none;
  background: none;
  color: white;
  font-size: 1.25rem;
  flex: 1 1 auto;
  cursor: pointer;
}
.tabsMenuBtn:hover {
  background-color: var(--COLOR-BLUE-500);
}
.active {
  background-color: var(--COLOR-GRAY-700);
}
/* TASKS LIST */
.tasksList {
  overflow-y: scroll;
  background-color: var(--COLOR-GRAY-700);
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border-radius: 0 0 var(--BORDER-RADIUS) var(--BORDER-RADIUS);
}

@media only screen and (max-width: 850px) {
  .tasks {
    grid-column: 1 / 7;
    grid-row: 10 / -1;
  }
  .tasksHeader {
    padding: 0;
  }
  .tasksList {
    min-height: 30rem;
    padding: 2rem 0.5rem;
  }
}
