.Column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* border-radius: var(--BORDER-RADIUS); */
  border: 1px solid var(--COLOR-GRAY-100);
}
.Column__Header {
  padding: 1rem 2rem;
}
.Column__Header h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
}
.Column__Tasks {
  padding: 0.5rem;
}
.Column__Tasks__Task-wrapper {
  cursor: grab;
}
