.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: var(--BORDER-RADIUS);
  border: 1px solid var(--COLOR-GRAY-100);
  overflow-y: scroll;
  min-width: 0; /* NEW; needed for Firefox */
}
.columnHeader {
  padding: 1rem 2rem;
}
.columnHeader h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
}
.columnTasks {
  padding: 0.5rem;
}
.columnTaskWrapper {
  cursor: grab;
}
.dropPossible {
  border: 1px solid var(--COLOR-GREEN-500);
}
