.Column {
  border: 3px solid var(--COLOR-WHITE);
  border-radius: var(--BORDER-RADIUS);
  width: 20%;
  min-width: 250px;
  height: 100%;
  margin: 0.5rem;
}
.Column__Header {
  padding: 1rem 2rem;
}
.Column__Header h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
}
.Column__Tasks {
  padding: 0.5rem;
}
