.Login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Login,
.Login__Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Login__Header {
  margin-bottom: 3.6rem;
}
.Login__Header p {
  font-size: 1.953rem;
  margin-bottom: 0.8rem;
}
.Login__Header p:last-child {
  margin-bottom: 0;
}
.Login__Header__Highlight {
  color: transparent;
  background: linear-gradient(
    45deg,
    var(--COLOR-YELLOW-500),
    var(--COLOR-GRAY-100),
    var(--COLOR-YELLOW-300)
  );
  background-clip: text;
}
.Login__Header h1 {
  font-size: 5.96rem;

  margin-bottom: 0.8rem;
}
.Login__Main__Avatar {
  margin-bottom: 3.6rem;
}
