.login {
  width: 30rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--COLOR-GRAY-600);
  border-radius: var(--BORDER-RADIUS);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border: 1px solid var(--COLOR-GRAY-500);
}
