.header,
.name {
  display: flex;
  align-items: center;
}
.header {
  gap: 3rem;
  margin-bottom: 3rem;
}
.header h2 {
  font-size: 3.052rem;
}
.name {
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.completed p {
  font-size: 1.563rem;
  margin-bottom: 0.5rem;
}
.currentUser {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media only screen and (max-width: 850px) {
  .header {
    flex-direction: column;
  }
}
