.message {
  padding: 1rem 1.5rem;
  background-color: var(--COLOR-GRAY-200);
  border-radius: var(--BORDER-RADIUS);
  display: flex;
  gap: 2rem;
  color: var(--COLOR-GRAY-800);
  min-height: 5rem;
}
.controls {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.btn {
  border: none;
  background: none;
  color: var(--COLOR-GRAY-600);
  cursor: pointer;
}
.text {
  font-size: 1.4rem;
  color: var(--COLOR-GRAY-700);
}
.time {
  font-size: 1rem;
  color: var(--COLOR-GRAY-500);
}
