.message {
  padding: 1rem;
  background-color: var(--COLOR-GRAY-200);
  border-radius: var(--BORDER-RADIUS);
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  color: var(--COLOR-GRAY-800);
  min-height: 5rem;
  position: relative;
}
.controls {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.btn {
  border: none;
  background: none;
  color: var(--COLOR-GRAY-600);
  cursor: pointer;
}
.textWrapper {
  flex: 1 3 auto;
}
.controls,
.avatarWrapper {
  width: 35px;
}

.text {
  font-size: 1.4rem;
  color: var(--COLOR-GRAY-700);
}
.time {
  font-size: 1rem;
  color: var(--COLOR-GRAY-500);
}
