.messages {
  grid-row: 1 / -1;
  grid-column: 9 / -1;
  background-color: var(--COLOR-GRAY-800);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.messages h3 {
  font-size: 1.953rem;
  margin-bottom: 1rem;
}
.ProjectMessages__messages {
  padding: 1rem;
  background-color: var(--COLOR-GRAY-200);
  flex: 1 1 auto;
  margin-bottom: 1rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
