.messages {
  grid-row: 1 / -1;
  grid-column: 9 / -1;
  background-color: var(--COLOR-GRAY-800);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 250px;
}
.messages h3 {
  font-size: 1.563rem;
  margin-bottom: 1rem;
}
.ProjectMessages__messages {
  padding: 1rem;
  background-color: var(--COLOR-GRAY-200);
  flex: 1 1 auto;
  margin-bottom: 1rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.messageList {
  flex: 1 4 auto;
  background-color: var(--COLOR-GRAY-600);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: var(--BORDER-RADIUS);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  overflow-y: scroll;
}
.message {
  padding: 0.75rem 1rem;
  background-color: var(--COLOR-GRAY-200);
  border-radius: var(--BORDER-RADIUS);
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  color: var(--COLOR-GRAY-800);
  position: relative;
}
.controls {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.btn {
  border: none;
  background: none;
  color: var(--COLOR-GRAY-600);
  cursor: pointer;
}
.textWrapper {
  flex: 1 3 auto;
}
.controls,
.avatarWrapper {
  width: 35px;
}

.text {
  font-size: 1.25rem;
  color: var(--COLOR-GRAY-700);
}
.time {
  font-size: 1rem;
  color: var(--COLOR-GRAY-500);
}

@media only screen and (max-width: 850px) {
  .messages {
    padding: 0;
    min-height: 40rem;
    max-height: 60rem;
  }
}
