/* font scale system
7.451rem/74.51px
5.96rem/59.60px
4.768rem/47.68px
3.815rem/38.15px 
3.052rem/30.52px
2.441rem/24.41px
1.953rem/19.53px
1.563rem/15.63px
1.25rem/12.50px
1rem/10.00px
0.8rem/8.00px
0.64rem/6.40px
0.512rem/5.12px 

white space scale system linear progression
8/16/24/32/40/48/56/64/72/80/88
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
:root {
  --COLOR-GRAY-50: #f8fafc;
  --COLOR-GRAY-100: #f1f5f9;
  --COLOR-GRAY-200: #e2e8f0;
  --COLOR-GRAY-300: #cbd5e1;
  --COLOR-GRAY-400: #94a3b8;
  --COLOR-GRAY-500: #64748b;
  --COLOR-GRAY-600: #475569;
  --COLOR-GRAY-700: #334155;
  --COLOR-GRAY-800: #1e293b;
  --COLOR-GRAY-900: #0f172a;
  --COLOR-GRAY-950: #020617;

  --COLOR-BLUE-300: #7dd3fc;
  --COLOR-BLUE-400: #38bdf8;
  --COLOR-BLUE-500: #0ea5e9;
  --COLOR-BLUE-600: #0284c7;
  --COLOR-BLUE-700: #0369a1;

  --COLOR-RED-300: #fca5a5;
  --COLOR-RED-400: #f87171;
  --COLOR-RED-500: #ef4444;
  --COLOR-RED-600: #dc2626;
  --COLOR-RED-700: #b91c1c;

  --COLOR-GREEN-300: #86efac;
  --COLOR-GREEN-400: #4ade80;
  --COLOR-GREEN-500: #22c55e;
  --COLOR-GREEN-600: #16a34a;
  --COLOR-GREEN-700: #15803d;

  --COLOR-YELLOW-300: #fde047;
  --COLOR-YELLOW-400: #facc15;
  --COLOR-YELLOW-500: #eab308;
  --COLOR-YELLOW-600: #ca8a04;
  --COLOR-YELLOW-700: #a16207;

  --PRIMARY-COLOR: var(--COLOR-GRAY-800);
  --SECONDARY-COLOR: var(--COLOR-GRAY-100);

  --PRIORITY-LOW: var(--COLOR-GREEN-400);
  --PRIORITY-HIGH: var(--COLOR-YELLOW-300);
  --PRIORITY-VERY-HIGH: var(--COLOR-RED-400);

  --BORDER-RADIUS: 4px;
  --BORDER: 3px solid var(--COLOR-ACCENT-500);
  --BOX-SHADOW: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif, monospace;
  font-weight: 400;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--PRIMARY-COLOR);
  color: var(--SECONDARY-COLOR);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#root {
  width: 100%;
  height: 100%;
}
.App {
  width: 100%;
  height: 100%;
  position: relative;
}
/* GENERAL BUTTON */
.btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: none;
  background: none;
  padding: 0.5rem 1rem;
  border: 1px solid var(--COLOR-BLUE-300);
  background-color: var(--COLOR-BLUE-300);
  color: var(--PRIMARY-COLOR);
  font-size: 1.25rem;
  transition: all 0.4s ease;
  border-radius: var(--BORDER-RADIUS);
  font-weight: 500;
}
.btn:hover {
  color: var(--COLOR-BLUE-300);
  background-color: var(--PRIMARY-COLOR);
}
.btn:disabled,
.Form__item button:disabled:hover {
  background-color: var(--COLOR-GRAY-700);
  color: var(--COLOR-GRAY-500);
  border-color: var(--COLOR-GRAY-500);
  cursor: not-allowed;
}
.btn--icon {
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
  color: var(--COLOR-GRAY-200);
}
.btn--icon:hover {
  color: var(--COLOR-YELLOW-400);
}
.btn--icon-link {
  color: var(--COLOR-BLUE-300);
}
.btn--icon-link:hover {
  color: var(--COLOR-BLUE-500);
}
.btn--icon--big {
  width: 5rem;
  height: 5rem;
}
.btn--icon--dark {
  color: var(--COLOR-GRAY-700);
}
.btn--icon--dark:hover {
  color: var(--COLOR-GRAY-200);
}
.btn--clear {
  border: none;
  background: none;
  outline: none;
  pointer-events: all;
}
.error {
  color: var(--COLOR-RED-500);
}
.spinner {
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* OVERLAY */
.overlay {
  z-index: 99;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}
/* headings */
.heading--primary {
  font-size: 3.052rem;
}
.heading--secondary {
  font-size: 2.441rem;
}
.heading--tertiary {
  font-size: 1.953rem;
}
/* HELPER CLASSES */
.mb--sm {
  margin-bottom: 1.6rem !important;
}
.mb--md {
  margin-bottom: 2.4rem !important;
}
.mb--lg {
  margin-bottom: 3.2rem !important;
}
.tag {
  display: inline-block;
  font-size: 1.25rem;
  color: var(--COLOR-GREEN-300);
  background-color: var(--COLOR-GRAY-700);
  letter-spacing: 1px;
  padding: 0.25rem 1.25rem;
  font-weight: 400;
  border-radius: var(--BORDER-RADIUS);
  border: 1px solid var(--COLOR-GREEN-300);
  transition: all 0.5s ease;
}
.link:link,
.link:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--COLOR-BLUE-500);
}
.link:hover,
.link:active {
  color: var(--COLOR-BLUE-300);
  border-bottom: 1px solid var(--COLOR-BLUE-300);
}
/* FORM */
.Form,
.Form__item {
  display: flex;
  flex-direction: column;
}
.Form {
  position: relative;
  border: var(--BORDER);
  border-radius: var(--BORDER-RADIUS);
  width: 35rem;
  padding: 4.8rem;
  justify-content: center;
  align-items: center;
  background-color: var(--COLOR-GRAY-600);
}
.Form h2 {
  margin-bottom: 2.4rem;
}
.Form__item {
  width: 100%;
  margin-bottom: 1.5rem;
}
.Form__item label {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.Form__item__tags-wrapper {
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.Form__item__tags-wrapper .tag:hover {
  background-color: var(--COLOR-ERROR);
  cursor: pointer;
}
.Form__item__wrapper {
  display: grid;
  grid-template-columns: 5fr 1fr;
  column-gap: 0.5rem;
}
@media only screen and (max-width: 850px) {
  .Form {
    padding: 4.8rem 2rem 2rem 2rem;
  }
}

/* INPUT FIELDS */
.input,
.input--text-area {
  padding: 0.75rem 1rem;
  border: none;
  border-radius: var(--BORDER-RADIUS);
  font-size: 1.25rem;
  font-family: inherit;
  color: var(--COLOR-GRAY-700);
  transition: all 0.4s ease-in-out;
  width: 100%;
}
.input--text-area {
  height: 7rem;
  resize: none;
  overflow-y: scroll;
}
.input::placeholder,
.input--text-area::placeholder {
  color: var(--COLOR-GRAY-800);
  font-size: 1.25rem;
}
.input:focus,
.input--text-area:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--COLOR-BLUE-500);
}
/* GENERAL NOTE OR ITEM */
.note {
  padding-top: 2.5rem;
  font-size: 1.25rem;
  color: var(--COLOR-GRAY-400);
}
.note--error {
  color: var(--COLOR-RED-400);
}

.priority--low {
  background-color: var(--PRIORITY-LOW);
}
.priority--high {
  background-color: var(--PRIORITY-HIGH);
}
.priority--very-high {
  background-color: var(--PRIORITY-VERY-HIGH);
}
/* DEADLINE TAG */
.deadline-tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  background-color: var(--COLOR-GRAY-100);
  border-radius: var(--BORDER-RADIUS);
}
.deadline-tag--green {
  color: var(--COLOR-GREEN-500);
  border: 3px solid var(--COLOR-GREEN-500);
}
.deadline-tag--red {
  color: var(--COLOR-RED-500);
  border: 3px solid var(--COLOR-RED-500);
}
/* TEMP helpers*/
.flex-col {
  display: flex;
  flex-direction: column;
}
.logo-highlight {
  color: transparent;
  background: linear-gradient(
    90deg,
    var(--COLOR-YELLOW-500),
    var(--COLOR-GRAY-100)
  );
  background-clip: text;
}
.flex-line-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
