@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif, monospace;
  font-weight: 400;
  box-sizing: border-box;
}
:root {
  --primary-color: #171925;
  --secondary-color: #aaa;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
