/* font scale system
3.815rem/61.04px
3.052rem/48.83px
2.441rem/39.06px
1.953rem/31.25px
1.563rem/25.00px
1.25rem/20.00px
1rem/16.00px <== base
0.8rem/12.80px
0.64rem/10.24px
0.512rem/8.19px 

white space scale system linear progression
0.5rem/8px
1rem/16px
1.5rem/24px
2rem/32px
2.5rem/40px
3rem/48px
3.5rem/56px
4rem/64px
4.5rem/72px
5rem/80px
5.5rem/88px
6rem/96px
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
:root {
  --COLOR-MAIN-50: #f0f9ff;
  --COLOR-MAIN-100: #e0f2fe;
  --COLOR-MAIN-200: #bae6fd;
  --COLOR-MAIN-300: #7dd3fc;
  --COLOR-MAIN-400: #38bdf8;
  --COLOR-MAIN-500: #0ea5e9;
  --COLOR-MAIN-600: #0284c7;
  --COLOR-MAIN-700: #0369a1;
  --COLOR-MAIN-800: #075985;
  --COLOR-MAIN-900: #0c4a6e;
  --COLOR-MAIN-950: #082f49;

  --COLOR-GRAY-50: #fafafa;
  --COLOR-GRAY-100: #f5f5f5;
  --COLOR-GRAY-200: #e5e5e5;
  --COLOR-GRAY-300: #d4d4d4;
  --COLOR-GRAY-400: #a3a3a3;
  --COLOR-GRAY-500: #737373;
  --COLOR-GRAY-600: #525252;
  --COLOR-GRAY-700: #404040;
  --COLOR-GRAY-800: #262626;
  --COLOR-GRAY-900: #171717;
  --COLOR-GRAY-950: #0a0a0a;

  --COLOR-ACCENT-50: #fefce8;
  --COLOR-ACCENT-100: #fef9c3;
  --COLOR-ACCENT-200: #fef08a;
  --COLOR-ACCENT-300: #fde047;
  --COLOR-ACCENT-400: #facc15;
  --COLOR-ACCENT-500: #eab308;
  --COLOR-ACCENT-600: #ca8a04;
  --COLOR-ACCENT-700: #a16207;
  --COLOR-ACCENT-800: #854d0e;
  --COLOR-ACCENT-900: #713f12;
  --COLOR-ACCENT-950: #422006;

  --BORDER-RADIUS: 5px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif, monospace;
  font-weight: 400;
}
body {
  box-sizing: inherit;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--COLOR-MAIN-950);
  color: var(--COLOR-MAIN-50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 0.512rem solid var(--COLOR-ACCENT-300);
}
.btn {
  display: inline-block;
  border: none;
  background: none;
  padding: 0.512rem 1rem;
  border: 3px solid var(--COLOR-ACCENT-300);
  background-color: var(--COLOR-ACCENT-300);
  color: var(--COLOR-MAIN-950);
  font-size: 1rem;
  transition: all 0.4s ease;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 0.512rem;
}
.btn:last-child {
  margin-right: 0;
}
.btn:hover {
  border-color: var(--COLOR-ACCENT-500);
  color: var(--COLOR-ACCENT-500);
  background-color: var(--COLOR-MAIN-950);
}
.error {
  color: red;
}
.spinner {
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
