.description {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
}
.descriptionTitle {
  font-size: 3.052rem;
}
.descriptionText {
  border: 1px solid red;
  font-size: 1.6rem;
  padding: 2rem 0;
  overflow-y: scroll;
}
