.edit {
  background-color: var(--COLOR-GRAY-600);
  border-radius: var(--BORDER-RADIUS);
  width: 100dvw;
  max-width: 60rem;
  min-height: 10rem;
  margin: 0.5rem;
  padding: 6rem 3rem;
  position: relative;
}
.projectName {
  font-size: 2.441rem;
}
.projectDescription {
  font-size: 1.6rem;
  line-height: 1.6;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.headerLeft {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.headerRight {
  margin-bottom: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.tags {
  list-style: none;
  gap: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}
