.edit {
  background-color: var(--COLOR-GRAY-600);
  border-radius: var(--BORDER-RADIUS);
  width: 100dvw;
  max-width: 60rem;
  min-height: 10rem;
  margin: 0.5rem;
  padding: 6rem 3rem;
  position: relative;
}
.title {
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.headerLeft {
}
.headerRight {
  display: flex;
  align-items: center;
}
.btnClose,
.btnPublic {
  cursor: pointer;
  color: var(--COLOR-YELLOW-400);
  border: none;
  background: none;
  font-size: bold;
}
.btnPublic {
  border: 1px solid var(--COLOR-GRAY-600);
  padding: 0.5rem 2rem;
}
.btnPublic:hover {
  border-color: var(--COLOR-YELLOW-400);
  background-color: var(--COLOR-GRAY-400);
  color: var(--COLOR-GRAY-800);
  border-radius: var(--BORDER-RADIUS);
}
.btnClose {
  font-size: 2.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.btnClose:hover {
  color: var(--COLOR-RED-400);
}
