.TeamMembers {
  grid-row: 6 / 10;
  grid-column: 7 / -1;
}
.TeamMembers h3 {
  margin: 2.4rem 0;
}
.TeamMembers__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  overflow: hidden;
  overflow-y: scroll;
}
.TeamMember__list__item {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.563rem;
}
.TeamMember__list__item__username {
  font-weight: 600;
}
a:link.TeamMember__list__item,
a:visited.TeamMember__list__item {
  color: var(--COLOR-GRAY-200);
  text-decoration: none;
}
